<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/index.css"/> 
    <link rel="stylesheet" href="../static/shop.css"/> 
    <title>쇼핑몰</title>
</head>
<body>
    <header>
        <a href="/"><img src="../images/TabbyPaws.svg" alt="TabbyPaws 로고"></a>
        <div class="search_banner">
            <img src="../images/memory_search.svg" alt="검색아이콘">
            <input type="text" name="search_value" alt="검색창">
        </div>
        <button id="login-link">
            <img src="../images/login_paw.svg" alt="로그인" class="login-paw-btn">
        </button>
    </header>
    <div id="profile-panel" class="profile-panel">
        <button class="close-btn" id="close-profile">닫기</button>
        <!-- 프로필 내용을 동적으로 삽입 -->
        <% if (isAuthenticated) { %>
            <div class="my_page">
                <a href="#" class="profile_img"></a>
                <p class="user_name"><%= user.name %>님</p> <!-- 사용자 ID 사용 -->
                </div>
            <ul class="my_link">
                <li><a href="">구매내역</a></li>
                <li><a href="">장바구니</a></li>
                <li><a href="">환불/교환 신청</a></li>
                <li><a href="">공지사항</a></li>
                <li><a href="">FAQ</a></li>
            </ul>
            <ul class="modify_link">
                <li><a href="">회원정보 수정</a></li>
                <li><a href="">비밀번호 수정</a></li>
                <li><a href="">로그아웃</a></li>
            </ul>
        <% } else { %>
            <div class="login_page">
                <p><a href="/login">로그인</a> 후 이용가능합니다.</p>
            </div>
        <% } %>
    </div>
    <div></div>
    <div class="all-shopList">
        <% if (isAuthenticated && user.role === '사업자')  { %>
            <a href="/shop/form" class="shop_form_link">상품 등록하기</a>
        <% } %>
        <% shop.forEach(shop => { %>
            <a href="/shop/<%=shop.shop_id%>">
                <div class="shop-item" data-allergies="<%= shop.allergies %>">
                    <img src="<%=shop.img_name%>" style="max-width: 200px;">
                    <p><%= shop.title%></p>
                    <div class="allergies-icons"></div>
                    <p><%=shop.age%></p>
                </div>
            </a>
        <% }) %>
    </div>
    <footer>
        <ul> 
            <li><a href="/introduce">페이지 소개</a></li>
            <li><a href="#">사용자 이용약관</a></li>
            <li><a href="#">개인정보 처리방침</a></li>
            <li><a href="/faq">자주묻는 질문</a></li>
            <li><a href="#">contact</a></li>
        </ul>
        <p>email: tabby@naver.com</p>
        <p class="copywrite">© 2024 TabbyPaws ALL RIGHTS RESERVED</p>
    </footer>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="../../static/js/shop.js"></script>
</body>
</html>