<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/index.css"/> 
    <link rel="stylesheet" href="../../static/faq.css"/> 
    <title>faq</title>
</head>
<body>
    <header>
        <a href="/"><img src="../images/TabbyPaws.svg" alt="TabbyPaws 로고"></a>
        <div class="search_banner">
            <img src="../images/memory_search.svg" alt="검색아이콘">
            <input type="text" name="search_value" alt="검색창">
        </div>
        <button id="login-link">
            <img src="../images/login_paw.svg" alt="로그인" class="login-paw-btn">
        </button>
    </header>
    <div id="profile-panel" class="profile-panel">
        <button class="close-btn" id="close-profile">닫기</button>
        <!-- 프로필 내용을 동적으로 삽입 -->
        <% if (isAuthenticated) { %>
            <p><%= user.name %>님</p> <!-- 사용자 ID 사용 -->
        <% } else { %>
            <h3>로그인</h3>
            <p><a href="/login">로그인</a> 후 사용 가능한 기능입니다.</p>
        <% } %>
    </div>
    <div class="link">
        <a href="/introduce">페이지 소개</a>
        <a href="/notice">공지사항</a>
        <a href="/faq" class="checked">FAQ</a>
    </div>
    <div class="faq_container">
        <% if (isAuthenticated && user.role === '관리자') { %>
            <a href="/faq/form">faq 작성하기</a>
        <% } %>
        <% faqs.forEach(faq => { %>
            <form class="faqitem">
                <input type="hidden" value="<%= faq.faq_id %>" name="faq_id">
                <div class="title_box">
                    <input type="text" value="<%= faq.title %>" name="title" class="faq_title" disabled>
                    <img src="../../images/angle_down.svg" alt="상세보기 버튼" class="toggle_btn">
                </div>
                <div class="answer" style="display: none;">
                    <input type="text" value="<%= faq.content %>" name="content" class="faq_content" disabled>
                </div>
                <% if (isAuthenticated && user.role === '관리자') { %>
                    <div class="review_mbtn" style="display: none;">
                        <input type="button" value="수정반영하기" onclick="updateFaq(this.form)">
                        <input type="button" value="뒤로가기" class="return_button">
                    </div>
                    <div class="rewrite_btn">
                        <input type="button" value="수정" class="modify_button">
                        <input type="button" value="삭제" class="faq-button" onclick="deleteFaq(<%= faq.faq_id %>)">
                    </div>
                <% } %>
            </form>
        <% }) %>
        <!-- 페이징 번호 -->
        <div>
            <% if (currentPage > 1) { %>
                <a href="?page=<%= currentPage - 1 %>">Previous</a>
            <% } %>
            
            <% for (let i = 1; i <= totPages; i++) { %>
                <a href="?page=<%= i %>" class="<%= i === currentPage ? 'active' : '' %>"><%= i %></a>
            <% } %>
            
            <% if (currentPage < totPages) { %>
                <a href="?page=<%= currentPage + 1 %>">Next</a>
            <% } %>
        </div>
    </div>
    <footer>
        <ul>
            <li><a href="#">페이지 소개</a></li>
            <li><a href="#">사용자 이용약관</a></li>
            <li><a href="#">개인정보 처리방침</a></li>
            <li><a href="#">자주묻는 질문</a></li>
            <li><a href="#">contact</a></li>
        </ul>
        <p>email: tabby@naver.com</p>
        <p class="copywrite">© 2024 TabbyPaws ALL RIGHTS RESERVED</p>
    </footer>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="../../static/js/faq.js"></script>
    <script src="../static/js/index.js"></script>
</body>
</html>