<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/index.css"/> 
    <link rel="stylesheet" href="../../static/notice.css"/> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <title>공지사항</title>
</head>
<body>
    <header>
        <div class="header-layouts">
            <a href="/"><img src="../images/TabbyPaws.svg" alt="TabbyPaws 로고"></a>
            <div class="category">
                <ul class="nav">
                    <li class="category_list">
                        <h4>홈페이지</h4>
                        <ul class="nav_mini">
                            <li><a href="/notice">공지사항</a></li>
                            <li><a href="/faq">FAQ</a></li>
                            <li><a href="/introduce">홈페이지 소개</a></li>
                        </ul>
                    </li>
                    <li class="category_list">
                        <h4>고양이 정보</h4>
                        <ul class="nav_mini">
                            <li><a href="https://www.law.go.kr/%EB%B2%95%EB%A0%B9/%EB%8F%99%EB%AC%BC%EB%B3%B4%ED%98%B8%EB%B2%95">동물 복지법</a></li>
                            <li><a href="">자유게시판</a></li>
                            <li><a href="#">진료병원</a></li>
                        </ul>
                    </li>
                    <li>
                        <h4>쇼핑몰</h4>
                        <ul class="nav_mini">
                            <li><a href="/shop">전체보기</a></li>
                            <li><a>사료 취향 테스트</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <form class="search_form" action="/shop/search" method="get">
                <div class="search_banner">
                    <button type="submit"><img src="../../images/memory_search.svg" alt="검색아이콘"></button>
                    <input type="text" name="searchValue" placeholder="상품 검색" alt="검색창">
                </div>
            </form>
            <button id="login-link">
                <img src="../images/login_paw.svg" alt="로그인" class="login-paw-btn">
            </button>
        </div>
        <h1 class="header-title">Tabby Paws는 고양이를 위한 프리미엄 사료 쇼핑몰입니다.</h1>
    </header>
    <div id="profile-panel" class="profile-panel">
        <button class="close-btn" id="close-profile">닫기</button>
        <!-- 프로필 내용을 동적으로 삽입 -->
        <% if (isAuthenticated) { %>
            <div class="my_page">
                <a href="#" class="profile_img"></a>
                <p class="user_name"><%= user.name %>님</p> <!-- 사용자 ID 사용 -->
                </div>
            <ul class="my_link">
                <li><a href="">구매내역</a></li>
                <li><a href="">장바구니</a></li>
                <li><a href="">환불/교환 신청</a></li>
                <li><a href="/notice">공지사항</a></li>
                <li><a href="/faq">FAQ</a></li>
            </ul>
            <ul class="modify_link">
                <li><a href="">회원정보 수정</a></li>
                <li><a href="">비밀번호 수정</a></li>
                <li><a href="/logout">로그아웃</a></li>
            </ul>
        <% } else { %>
            <div class="login_page">
                <p><a href="/login">로그인</a> 후 이용가능합니다.</p>
            </div>
        <% } %>
    </div>
    <div class="link">
        <a href="/introduce">홈페이지 소개</a>
        <a href="/notice" class="checked">공지사항</a>
        <a href="/faq">FAQ</a>
    </div>
    <div class="notice_content">
        <% if (isAuthenticated && user.role === '관리자') { %>
            <a href="/notice/form">공지사항 작성</a>
        <% } %>
        <div class="notice_list">
            <ul>
                <% notices.forEach(notice => { %>
                    <li><a href="/notice/<%= notice.notice_id %>"><%= notice.title %><p><%= notice.created_at %></p></a></li>
                <% }) %>
            </ul>
        </div>
        <!--페이징 번호-->
        <div class="paging">
            <% if (currentPage > 1) { %>
                <a href="?page=<%= currentPage - 1 %>">Previous</a>
            <% } %>
            
            <% for (let i = 1; i <= totalPages; i++) { %>
                <a href="?page=<%= i %>" class="<%= i === currentPage ? 'active' : '' %>"><%= i %></a>
            <% } %>
            
            <% if (currentPage < totalPages) { %>
                <a href="?page=<%= currentPage + 1 %>">Next</a>
            <% } %>
        </div>
    </div>
    <footer>
        <ul>
            <li><a href="#">페이지 소개</a></li>
            <li><a href="#">사용자 이용약관</a></li>
            <li><a href="#">개인정보 처리방침</a></li>
            <li><a href="#">자주묻는 질문</a></li>
            <li><a href="#">contact</a></li>
        </ul>
        <p>email: tabby@naver.com</p>
        <p class="copywrite">© 2024 TabbyPaws ALL RIGHTS RESERVED</p>
    </footer>
    <script src="../static/js/index.js"></script>
</body>
</html>